<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../static/static/cart.css">
    <title>Корзина</title>
</head>
<body>
    <header>
        <a id="backButton" href="/">Назад</a>
    </header>
   
    <div class="cart-title">
        <h1>Корзина</h1>
    </div>
    <div class="cart-container">
        {% for item in cart_data %}
            <div class="cart-item">
                <div class="cart-image">
                    <!-- Displaying product image -->
                    <img src="{{ item['productImageUrl'] }}" alt="{{ item['productName'] }}">
                </div>
                <p>{{ item['productName'] }}</p> <!-- Displaying product name -->
                <p class="price">{{ item['productPrice'] }} тг.</p> <!-- Displaying product price -->
                <p class="quantity">Количество: {{ item['quantity'] }}</p> <!-- Displaying quantity -->
                <form action="{{ url_for('cart.remove_from_cart', product_id=item['productId']) }}" method="post">
                    <button class="remove-item-button" type="submit">Удалить из корзины</button>
                </form>
            </div>
        {% endfor %}
        <div id="totalPrice">Общая стоимость: {{ total }} тг.</div> <!-- Total price -->
    </div>
    {% if cart_data %}
    <form method="POST" action="{{ url_for('cart.checkout') }}">
        <button class="checkout-button" type="submit">Перейти к оплате</button>
    </form>
{% endif %}
</body>
</html>
