<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзывы</title>
    <link rel="stylesheet" href="../static/static/feedback.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a id="backButton" href="/">Назад</a>
    </header>
    <main>
        <h1>Отзывы</h1>
        <section class="feedback-form">
            <form action="{{ url_for('feedback.submit_feedback') }}" method="post">
                <label for="feedback">Напишите ваш отзыв</label>
                <textarea id="feedback" name="feedback" placeholder="Поделитесь своим мнением..." required></textarea>
                <button type="submit">Отправить</button>
            </form>
        </section>

        <section class="feedback-container">
            <h2>Отзывы пользователей</h2>
            <ul class="feedback-list">
                {% for feedback in feedbacks %}
                <li class="feedback-item">
                    <div class="feedback-info">
                        <span class="feedback-name">{{ feedback.cust_name }}</span>
                        <span class="feedback-date">{{ feedback.feedback_date }}</span>
                    </div>
                    <p class="feedback-text">{{ feedback.feedback_text }}</p>
                </li>
                {% else %}
                <li class="no-feedback">Пока нет отзывов.</li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>
