<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продукты для кошек</title>
    <link rel="stylesheet" href="../static/static/css1.css">
</head>
<body>
    <header>
        <a id="backButton" href="/">Назад</a>
        <form action="/products" method="get">
            <input type="text" name="query" placeholder="Поиск по продуктам...">
            <button type="submit">Поиск</button>
        </form>
    </header>

    <div class="product-container">
        {% if products %}
            {% for product in products %}
                <div class="product">
                    <a href="/product/{{ product.id }}">
                        <div class="product-title">{{ product.name }}</div>
                        <div class="product-image">
                            <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
                        </div>
                        <div class="product-description">{{ product.description }}</div>
                        <div class="product-price">{{ product.price }} тг.</div>
                        <div class="product-stock">В наличии: {{ product.count }} шт.</div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>Продукты не найдены.</p>
        {% endif %}
    </div>
</body>
</html>
